/* homepage "about me" and "blog posts" styling */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');
/* blog posts section layout */
#blog{
    display:flex;
    flex-direction: column;
    align-items:center;
    width:100%;
}
/* making blog posts divs not take the entire width */
#first-posts, #second-posts, #book-post{
    width:90%;
}
/* about me section layout */
#about{
    display:flex;
    flex-direction:column;
    align-items: center;
    width:100%;
}
/* adding some styling to about me and blog posts sections */
.hello, #first-posts section, #second-posts section, #book-post {
    background: #f4edf6;
    margin:8px;
    border:2px solid #eadeec;
}
/* div that wraps two paragraphs in introduction */
#introduction{
    width:100%;
    display:flex;
    flex-direction:column;
    align-items: center;
}
/* paragraphs */
.hello{
    width:90%;
    padding:10px;
}
/* my image */
#about img{
    filter: brightness(80%);
    border:2px solid #eadeec;
    width: 50%;
    margin:10px;
}
#about p{
    align-items:center;
}
/* Contact information section*/
/* Making the section element items centered and stacked */
#contact-info{
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    border:2px solid #eadeec;
    margin:20px 0;
}
#contact-container{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin:10px 0;
}
/* making figcaption position next to the images */
figure{
    display:flex;
    flex-direction: row;
    justify-content:space-around;
}
figure img{
    width:20%;
    margin: 0 10px; 
}
/* making figcaption centered in the section element */
figcaption{
    width:70%;
    display:flex;
    flex-direction:row;
    align-items: center;
}
#blog p, a{
    display:inline-flex;
    font-weight:800;
    color:black;
}
/* making date and read more (p&a) positioned on the opposite ends of the container */
#blog p{
    width:50%;
    justify-content:start;
    margin:0 0 8px 8px;
    margin-top:auto;
}
#blog a{
    justify-content:end;
    width:40%;
    text-decoration: none;
    margin-top:auto;
}
#blog a:hover{
    text-decoration: underline;
}
/* styling the text content */
h1, h2{
    font-weight:800;
    }
h1{
    margin: 40px 0 20px 0;
}
h3{
    margin:10px;
}
h4{
    margin:10px;
}
article{
    margin:10px;
}
h1, h2, h3, h4, article{
    text-align: center;
}
/* Tablet Responsiveness */
@media only screen and (min-width:600px){
/* making sure the picture is positioned above the text and centered */
#about{
    display:flex;
    flex-direction:row;
    justify-content: center;
    width:100%;
}
#introduction{
    width:50%;
}
.hello{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items:center;
    }
#about img{
    width:30%;
    margin:0 15px 0 0;
}
.about-me p{
    margin:8px;
    text-align:center;
    }
#contact-info{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items:center;
    }
#contact-container{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    }
figure{
    width:100%;
    }
figcaption{
    width:80%;
    }
/* making blog posts position next to each other (2 on one row) */
#first-posts, #second-posts{
    display:flex;
    flex-direction:row;
    width:100%;
    border:none;
    }
#first-posts section, #second-posts section{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    width:100%;
    border:2px solid #eadeec;
    background-color: #f4edf6;
    padding:10px 5px 20px 5px;
    margin:5px;
    }
/* adding margins and adjusting the imgs sizes */
#date-readmore{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    width:100%;
    align-items:flex-end;
    }
#blog h1{
    margin:30px 0 30px 0;
    }
#blog h2{
    margin:0 0 30px 0;
    }
h3{
    margin: 20px;
    }
#book-post{
    display:flex;
    flex-direction:column;
    width:50%;
    padding:10px 5px 20px 5px;
    }
#book-post img{
    width:35%;
    }
    }
/* Desktop Responsiveness */
@media only screen and (min-width:1000px){
/* centering the content and the container itself */
#introduction{
    width:60%;
    }
#about img{
    width:15%;
}
#blog{
    width:100%;
}
#first-posts, #second-posts{
    width:80%;
}
#book{
    width:50%;
}
#first-posts, #second-posts, #book-post article{
    font-size:100%;
    margin:15px;
}
}

   
   
   
   
   
   
   
   
   

    

   