/* styling the main elements that are going to be used in every html page */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Playfair+Display&display=swap');
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    display:flex;
    flex-direction:column;
    background-color: #dde8f8;
}
p,article,li{
    font-family:'Playfair Display',Helvetica,Arial, serif;
}
h1,h2,h3{
    font-family:'Libre Baskerville',Helvetica,Arial, serif;
}
h1{
    font-size:1.5rem;
}
h2{
    font-size:1.3rem;
}
h3{
    font-size:1rem;
}
p, article, li{
    font-size:0.9rem;
}
/* header navbar styling */
header img{
    width:30%;
    margin: 15px 0;
}
header{
    display:flex;
    flex-direction: column;
    align-items: center;
}
header nav{
    display:flex;
    flex-direction: column;
    align-items: center;
}
header a{
    text-decoration: none;
    color: #000;
    font-weight:800;
    font-size:1.2rem;
    margin:10px;
}
header a:hover{
   color: grey;
}

/* making banner image cover the whole width*/
#banner img{
   width:100%;
   height:15vh;
   margin:0;
}
/* styling the navbar and a footer */
#socials, footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:8px;
}
#socials p{
    margin:5px;
    font-weight:800;
}
/* Tablet responsiveness */
@media only screen and (min-width:600px){
/* increasing header font,adding margin around header and aligning the elements */
header{
    margin:20px;
   }
header img{
    width:25%;
   }
header a{
    display:flex;
    flex-direction:column;
    align-items:center;
    font-size:1.5rem;
  }
/* making the socials navbar stay positioned in a row and adding some margin between the imgs */
#socials{
    display:flex;
    flex-direction:column;
}
#socials nav{
    display:flex;
    flex-direction:row;
}
#socials img{
    margin:5px;
}
h1{
    font-size:1.7rem;
}
h2{
    font-size:1.5rem;
}
h3{
    font-size:1.3rem;
}
p, article, li{
    font-size:1rem;
}
}
/* Desktop Responsiveness */
@media only screen and (min-width:1000px){
header{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    }
header nav{
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    font-size:1.7rem;
    margin:0;
    }
header img{
    width:8%;
    display:flex;
    flex-direction:row;
        }
#banner img{
    height:25vh;
         }
/*styling fonts for all the html pages  */
h1{
    font-size:2rem;
}
h2{
    font-size:1.6rem;
}
h3{
    font-size:1.4rem;
}
p{
    font-size:1.2rem;
}
}