/* styling the main elements that are going to be used in every html page */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Playfair+Display&display=swap');
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    display:flex;
    flex-direction:column;
    background-color: #dde8f8;
}
/* header navbar styling */
header{
    display:flex;
    flex-direction: column;
}
header nav{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:5px;
}
header a{
    text-decoration: none;
    color: #000;
    font-weight:800;
    font-size:1.2rem;
}
header a:hover{
   color: #f4edf6;
}

/* section banner image after header*/
#banner img{
   display:flex;
   width:100%;
   height:15vh;
   flex-direction:column;
   background-size:cover;
   margin:0;
}
/* styling the navbar and a footer */
#socials, footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:8px;
}
#socials p{
    margin:5px;
    font-weight:800;
}
/* Tablet responsiveness */
@media only screen and (min-width:600px){
    /* increasing header font,adding margin around header and aligning the elements */
   header{
    margin:20px;
   }
  header a{
    display:flex;
    flex-direction:column;
    align-items:center;
    font-size:1.5rem;
  }
  /* making the socials navbar stay positioned in a row and adding some margin between the imgs */
  #socials{
    display:flex;
    flex-direction:column;
}
#socials nav{
    display:flex;
    flex-direction:row;
}
#socials img{
    margin:5px;
}
}
/* Desktop Responsiveness */
@media only screen and (min-width:1000px){
    header nav{
        display:flex;
        flex-direction:row;
        justify-content:flex-end;
        font-size:1.7rem;
        margin:15px;
        }
        header a{
            padding:10px;
        }
        #banner img{
            display:flex;
            width:100%;
            height:25vh;
            flex-direction:column;
            margin:0;
         }
         
}