@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Playfair+Display:wght@400;800&display=swap');
h1,h2{
    margin:20px;
    text-align:center;
}
h1{
    margin:30px 0 30px 0;
}
#years p{
    margin:40px 0 40px 0;
}
#resume p{
    width:70%;
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
}
/* making the sections centered and styling them */
#entire-page, #workplaces{
    width:100%;
}
#background{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    margin:0 20px 0 20px;
}
#years {
    width:100%;
    background: #f4edf6;
    margin:8px 0 0 8px;
    border:2px solid #eadeec;
    margin:15px;
    padding:10px;
}
/* making the text (p) position next to the image (cv icon */
#resume{
    display:flex;
    flex-direction:row;
    justify-content:center;
    width:100%;
    margin:25px 0;
}
/* making the workplaces (3 images) section position items in a row, next to one another */
#img-workplaces{
    display:flex;
    flex-direction:column;
    align-items:center;
  }
figcaption{
    margin:15px;
    display:flex;
    flex-direction: column;
    justify-content: center;
  }
/* styling the images */
/* making the three images position next to each other */
#img-workplaces figure{ 
    display:flex;
    flex-direction: row;
    justify-content:center;
}
#workplaces img,#resume img{
    filter: brightness(80%);
    border:2px solid #eadeec;
}
#workplaces img{
    width:40%;
    border-radius: 100%;
    margin:10px 0;
}
#resume img{
    width: 60px;
    background-color: #9eafa4;
    margin:0 5px;
}

/* at 650px the text is too stretched out and small*/
@media only screen and (min-width:650px){
#years {
    width:90%;
}
#workplaces img{
    width:20%;
}
/* getting rid of that extra */
#resume img{
    width: 50px;
}
}
/* Desktop Responsiveness */
@media only screen and (min-width:900px){
/* making the background section position on the left side of the screen */
#entire-page{
    display:flex;
    flex-direction: row;
    width:100%;
}
#background{
    width:50%;
    display:flex;
    flex-direction:column;
    justify-content:start;
    align-items: center;
    }
#years{
    width:100%;
    margin:0;
}
#workplaces{
    display:flex;
    flex-direction:column;
    justify-content:start;
    margin:0;
    width:50%;
}
#workplaces img{
    width:25%;
}
#resume{
    margin:15px 0;
}
}
@media only screen and (min-width:1300px){
#background{
    display:flex;
    flex-direction:column;
    justify-content: center;
    }
#resume{
    margin:25px 0;
    display:flex;
    flex-direction: row;
    justify-content:end;
    }
}